

<section class="big-art-wrapper"> 
  <div class="home-img-wrap" ng-repeat="artwork in artworks">
      
      <div class="thumbnail">

            <a ui-sref="artworkpage({artId: artwork._id})">
              <img class="thumbnail-image" ng-click="showFilePage(artwork)" ng-src="{{artwork.url}}"  alt="film image"/>
            </a>  

      </div>   

          <div class="glyphicon home-page-info">
              <div class="artwork-name">{{artwork.username | uppercase}}</div>
              <div>
              <span class="glyphicon glyphicon-comment"> {{artwork.comments.length}}</span>

              </div>
              
              <span class="glyphicon glyphicon-thumbs-up"> {{artwork.likes}}</span>
          </div>         
      

  </div>
</section>



