      <div class="artwork-container" ng-repeat="artwork in artworks">
          <div class="artwork-item">
              <div class="artwork-image-container">
                <img id="wrap" class="artwork-image" ng-src="{{artwork.Image}}"  alt="film image"/>
                <div class="artwork-name">{{artwork.name | uppercase}}</div>
                <div><span class="glyphicon glyphicon-comment">{{artwork.comments.length}}</span>
                    <span class="glyphicon glyphicon-eye-open">{{artwork.views}}</span>
                    <span class="glyphicon glyphicon-thumbs-up">{{artwork.upvotes}}</span>
              </div>

          </div>
      </div>
