<div>
    <h1>Name LastName</h1>


      <form ng-submit="addArt()">
        <h3>Add a new Artwork</h3>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="image" ng-model="artImage"></input>
          </div>
            <button type="submit" class="btn btn-primary">Add To My Artworks</button>
          <div>
        </div>
      </form>


      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
    </div>


    <section>
      <!--//PHOTOS--> 
      2. those pics then go here
      <img src="https://i.ytimg.com/vi/mW3S0u8bj58/maxresdefault.jpg">
      <img src="http://www.telegraph.co.uk/content/dam/science/2016/03/14/cat_3240574b-large_trans++pJliwavx4coWFCaEkEsb3kvxIt-lGGWCWqwLa_RXJU8.jpg">
    </section>


  
</div>