body {

  background-color: #ddd;
}

​
nav li {
    display: inline-block;
}
nav {
    background-color: #333333;
    position:fixed;
    width: 100%;
    top: 0;
}
​
ul {
  margin: 0;
  text-align: center;
}
​
li {
  display: inline-block;
}
​
li a {
  line-height: 50px;
  text-decoration: none;
  color: #999;
  font-family: 'Open Sans';
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 18px;
​
}
​
nav li a {
    line-height: 50px;
    text-decoration: none;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;    
    text-transform: uppercase;
    font-weight: bold;    
    padding: 0 18px;
}
​
nav ul {
    margin: 0;
    text-align: center;
}
p {
   line-height: 50px;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans';
  font-size: 72px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 18px;
  text-align: center;
}

<<<<<<< HEAD
h3 {
font-family: 'Open Sans';
}

h1{
  font-family: 'Open Sans';

}

/*div .form-group {
  background-color: white*/

}
=======
>>>>>>> bb4d92f07112c4a44161f61722330a452255cdef
/*Messing with the error styles in upload file
*/
#upload-failed{
  display: none;
}

#retry-btn{
  display: none;
}

#li-error{
  background-color: white;
  box-shadow: 0 0 2px 0 grey;
}
div.row {
  margin: 0 auto;
  padding-left: 10px;
  float: center;
}
.artwork-container{
    display: inline-block;
    float: center;
    margin-right: 0 auto; 
    margin-left: 0 auto;
}

.artwork-item{
    font-size: 14px;
    padding: 15px;  
    float: center; 
    margin: 0 auto;
   
}

.artwork-image-container{
    display: inline-block;
    float: center;
    height: 250px;
    width: 250px;
    position: relative;
    margin: 0 auto;

}

.artwork-image{
   border: 1px solid black;
   box-shadow: 10px 10px 5px #888888;
    float: center;
   /* height: 290px;
    width: 210px;*/
    margin-right: 0 auto;
    margin-left: 0 auto;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }



/*  #wrap {
  height: 290px;
  width: 210px;
}
#wrap img {
  min-height: 100%;
  min-width: 100%;
}*/
span {
  margin-right: 10px;
}

.artwork-name{
  padding-top: 10px;
}

  @media (max-width: 700px) {
.row:before {
  display: table;
  content: "";
}

.row:after {
  display: table;
  content: "";
  clear: both;
}
/*#wrap {
  height: 100px;
  width: 100px;
}
#wrap img {
  min-height: 100%;
  min-width: 100%;*/
/*}*/
@media (max-width: 700px) {
.artwork-container{ 
  width: 100%;
  }
.artwork-item{
   width: 100%;
}
.artwork-image-container {
  width: 100%;
  }
.artwork-image {
  width: 100%;
  }
}
/*#wrap {
  height: 100px;
  width: 100px;
}
#wrap img {
  min-height: 100%;
  min-width: 100%;
}*/
/*}*/

/*Messing with the error styles in upload file
*/
/*#upload-failed{
  display: none;
}

#retry-btn{
  display: none;
}

#li-error{
  background-color: white;
  box-shadow: 0 0 2px 0 grey;
}*/