body {
  margin: 0;
  background-color: #ddd;
}
​
nav li {
    display: inline-block;
}
nav {
    background-color: #333333;
    position:fixed;
    width: 100%;
    font-size: 18px;
    top: 0;
}
​
ul {
  margin: 0;
  text-align: center;
}
​
li {
  display: inline-block;
}
​
li a {
  line-height: 50px;
  text-decoration: none;
  color: #999;
  font-family: 'Open Sans';
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 18px;
​
}
​
nav li a {
    line-height: 50px;
    text-decoration: none;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;    
    text-transform: uppercase;
    font-weight: bold;    
    padding: 0 18px;
}
​
nav ul {
    margin: 0;
    text-align: center;
}
p {
   line-height: 50px;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans';
  font-size: 72px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 18px;
  text-align: center;
}

h3 {
font-family: 'Poiret One', cursive;
}

h1{
font-family: 'Poiret One', cursive;

}

.navbar-collapse{
 font-family: 'Poiret One', cursive;
}

.logo-text{
  font-family: 'Poiret One', cursive;
}

.text-center{
  font-family: 'Poiret One', cursive;
}

/*Messing with the error styles in upload file
*/
#upload-failed{
  display: none;
}

#retry-btn{
  display: none;
}

#li-error{
  background-color: white;
  box-shadow: 0 0 2px 0 grey;
}

.artwork-container{
    float:left;
}

.artwork-item{
    font-size: 14px;
    padding: 15px    
}

.artwork-image-container{
    /*display: inline-block;*/
    height: 290px;
    width: 210px;
    /*position: relative;*/

}

.artwork-image{
    height: 290px;
    width: 210px;

  }

/*Messing with the error styles in upload file
*/
#upload-failed{
  display: none;
}

#retry-btn{
  display: none;
}

#li-error{
  background-color: white;
  box-shadow: 0 0 2px 0 grey;
}





/*LIGHT-BOX*/

.lightbox-page {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    max-width: 800px;
    max-height: 600px;
    margin: 0 0 30px 0;
    padding: 20px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.lightbox-user {
    overflow: hidden;
    width: 700px;
    margin: 10px 0 10px 0;
    padding: 0;
}

.lightbox-user-pic {
  float: left;
  width: 46px;
  height: 46px;
  border-radius: 100px;
  background-color: white;
  border: black 1px solid;
}

.lightbox-user-name {
  float: left;
  font-family: 'Poiret One', cursive;
  font-size: 20px;

}

.lightbox-big-container {
    position: absolute;
    z-index: 5;
    top: 20px;
    left: 50%;
    width: 920px;
    margin-left: -460px;
    padding: 40px 95px;
    background: #f4f4f4;
    background-position: fixed;
    box-sizing: border-box;
    border-radius: 6px;
}

.lightbox-image-main {
  margin-top: 0.5%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  float: left;
  width: 99%;
}

.lightbox-nav{
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  margin-top: 4px;
  background-color: white;
  width: 99%;
  height: 40px;
  margin-bottom: 3px;
}

.lightbox-leftside-list {
    float: left;
    width: 60%;
    border-radius: 6px;
    background-color: #fff;
    height: 600px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  }

.lightbox-rightside-list{
    display: block;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border-radius: 6px;
    width: 35%;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.lightbox-likes {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    font-size: 13px;
    line-height: 1;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.lightbox-likes-count {
    font-size: 16px;
    font-family: 'Poiret One', cursive;
    line-height: 1;
}

.lightbox-views {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    font-size: 13px;
    line-height: 1;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.lightbox-views-count {
    font-size: 16px;
    font-family: 'Poiret One', cursive;
    line-height: 1;
}

.glyphicon-eye-open {
  padding-right: 10px;
  padding-left: 7px;
}

.glyphicon-hand-right {
  padding-right: 10px;
  padding-left: 10px;
}

#form-control-comments-head {
  font-size: 16px;
  font-family: 'Poiret One', cursive;
  display: block;
  width: 95%;
  margin: 10px;
}

.lightbox-comments {
  padding: 10px 10px;

}