body {
  margin: 0;
  background-color: #ddd;
}
​
nav li {
    display: inline-block;
}
nav {
    background-color: #333333;
    position:fixed;
    width: 100%;
    top: 0;
}
​
ul {
  margin: 0;
  text-align: center;
}
​
li {
  display: inline-block;
}
​
li a {
  line-height: 50px;
  text-decoration: none;
  color: #999;
  font-family: 'Open Sans';
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 18px;
​
}
​
nav li a {
    line-height: 50px;
    text-decoration: none;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;    
    text-transform: uppercase;
    font-weight: bold;    
    padding: 0 18px;
}
​
nav ul {
    margin: 0;
    text-align: center;
}
p {
   line-height: 50px;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans';
  font-size: 72px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 18px;
  text-align: center;
}

h3 {
font-family: 'Open Sans';
}

h1{
  font-family: 'Open Sans';

}
/*Messing with the error styles in upload file
*/
#upload-failed{
  display: none;
}

#retry-btn{
  display: none;
}

#li-error{
  background-color: white;
  box-shadow: 0 0 2px 0 grey;
}

.artwork-container{
    float:left;
}

.artwork-item{
    font-size: 14px;
    padding: 15px    
}

.artwork-image-container{
    display: inline-block;
    height: 290px;
    width: 210px;
    position: relative;
}

.artwork-image{
    height: 290px;
    width: 210px;
}